/*@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:700,400,300,200);
**@import url(http://fonts.googleapis.com/css?family=Vollkorn:400italic,700italic,400,700);*/
/*
    Document   : main
    Created on : 14 Jun 2013, 2:07:04 PM
    Author     : ftshimanga
    Description: combines boostrap.min & bootstrap-responsive.min.
    Working with contaainer of 940px;
*/
body {margin: 1px auto; background: #fbfbfb url('../img/bg04.png');; font-family: 'Yanone Kaffeesatz'; color: #474f51;}
.white{color:white;}.black{color:black;}
h1 {font-size:1.8em; font-family:'Vollkorn', sans-serif; font-weight: 700; font-style:italic; text-align: right; display:block; padding: 0px; line-height: 10px;}
h2 {font-size: 1.5em; color: #212f35; margin: 0 0 0.5em 0;  line-height: 20px;}
h3 {font-size: 1.4em; color:#96a9b5;  line-height: 30px; margin: 10px 0 0 0;border-top: 1px solid #eeeeee;border-bottom: 1px solid #eeeeee;}
.logo,.aside {float:left; width:16%;}.navigator, .body {float:left; width:82%;margin-left:1em;}
.logo {min-height:7em;}.aside {min-height: 49.5em; text-align: right;}.body {min-height: 50em;}
progress {color: #0063a6;font-size: .6em;line-height: 1.5em;text-indent: .5em;width:100%;height: 1.8em;border-top: 1px solid #0063a6;border-bottom: 1px solid #0063a6;background: #fff;}
progress::-moz-progress-bar { background:#0063a6;}
progress::-webkit-progress-bar { background:#fff;}
progress::-webkit-progress-value { background:#0063a6; }
/******************************************************************************/
/*header setting*/
.navigator {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; background:#fff;margin-top: 10px;}
address {margin: 3px 0px;}
.logo span,.explain {font-size:2em; font-family:'Vollkorn', sans-serif; font-weight: 700; font-style:italic; text-align: right; display:block; padding: 0.2em 0;}
.explain {font-size:0.9em; font-weight: 400; font-style:italic; text-align: left; padding:0;}
.logo figure img,.logo figure figcaption{float: right;}
.logo figure img:after,.logo figure figcaption:after{clear: both;content: "";}
.logo figure {margin: 0px 2em;}
.pagination {margin:0px 0px;}
.pagination .disabled li > span,.pagination .disabled li > a,.pagination .disabled li > a:hover,.pagination .disabled li > a:focus {  color: #999999;  cursor: default;  background-color: transparent;}
.nav {margin-bottom:0px;}
.tab-content {overflow:visible;}
.nav ul {padding: 0;margin: 0 0 0 25px;}
.menu-strip {border:1px inset #ececec; border-left:none; border-top:none; /*padding:2px 5px;*/display:block; margin:-1px 2px 2px 0; min-height: 4.9em;
/*             background-color: #f5f5f5; -webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;*/
  -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);-moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.btn-cust.input-prepend{margin-bottom:0px;}
/******************************************************************************/
/*aSide*/
#sideTop {margin-top:-0.8em}
.addThis{margin: 0.2em -0.2em 0 0.7em;}
#sideBot h3 a {display:block;}#sideBot h3 a:hover {text-decoration: none;}
/******************************************************************************/
/*body setting*/
._box
{
   background: #fff;
   box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.5);
   margin-top: 10px;
}
._box:first-child{padding: 4px 0px;}/*this is to add padding without disrupting the size of box*/
.body article {padding: 4px 4px;}
/******************************************************************************/
/*form setting*/
.form-horizontal .control-group {margin-bottom: 10px;}
legend+.control-group {margin-top: 10px;-webkit-margin-top-collapse: separate;}
.text-area, .input-text{width:234px;}
/*form {margin: -10px 0 20px;}*/
/******************************************************************************/
/*side bar*/
#sideNotice {padding-right:4px;}
.aside hgroup {padding:4px 5px;}
aside h3 {border-top: 1px solid #ddd; border-bottom: 1px solid #ddd;padding-right: 0.2em; text-transform: capitalize;/* box-shadow: 0 0 10px #BDBDBD; *//* -webkit-box-shadow: 0 0 10px #BDBDBD; */background-color: #f5f5f5;}
.nav-grid {margin-bottom: 20px;margin-left: 0;list-style: none;}
.nav-grid > li {line-height: 20px; padding:5px 0px;}
.nav-grid > li > a {text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);}
.nav-grid > li > a:hover {text-decoration: none;}
.nav-grid > li > a:first-child {margin-right:1em; display:inline-block; width:85%;}
.nav-grid > li:hover,.nav-grid > li:focus {text-decoration: none;background-color: #eeeeee;}
.nav-grid > li > a > img {max-width: none;}
.nav-grid > .pull-right {float: right;}
/******************************************************************************/
/*footer setting*/
.statusbar {padding:1px 2px 3px 8px; border:1px solid black; margin-top:5px; font-size:0.9em; height:1.4em; background-color:#fbfbfb; width:20%; display:inline-block;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;}
.navbar-inner {min-height: auto;}
.navbar .brand { font-size:1em; padding: 5px 25px; color:white;}
.navbar .nav>li>a {padding: 5px 10px;}
.navbar-search .search-query,.navbar-inverse .navbar-search .search-query:focus {padding:2px 2px 0px 8px; margin-bottom:5px; font-size:0.9em; height:1.5em;}
footer {top:auto; bottom:0; margin-bottom:1px; position:fixed; left:0; right:0; }
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input
{background: #fff url(../img/gradient.png)top left repeat-x;-webkit-box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.075);-moz-box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.075);box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.075);}
input[type="radio"], input[type="checkbox"] {margin: 0 0 4px 0;margin-top: 1px \9;line-height: normal;}
/******************************************************************************/
/*size setting*/
@media all and (max-width: 1024px){
   .logo, .aside {display:none;}.navigator, .body {width:98%;}
}
/*tab-portrait*/
@media all and (max-width: 768px){}
/*cell-landscape*/
@media all and (max-width: 480px){}
/*cell-portrait*/
@media all and (max-width: 320px){}